body {
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    min-height: 100vh;
}

img {
    max-width: 120px;
    border-style: groove;
    border: 10px;
    border-color: #3882F6;
    border-radius: 5px;
}

.firstSection {
    display: flex;
    background-color: #1f2937;
    flex-grow: 3;
}

.secondSection {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
}

.titleTwo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding: 20px;
}

.images {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    margin: 30px;
    gap: 50px;
}

.caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.container {
    max-width: 300px;
    font-size: 15px;
    max-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.thirdSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    flex-grow: 2;
    color: black;
    font-style: italic;
    font-size:  25px;
    gap: 20px;
}

.quoteAuthor {
    color: black;
    font-size: 18px;
}


.fourthSection {
    display: flex;
    flex-grow: 2;
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color:white;
    flex-grow: 1;
    margin-top: auto;
}

.actionDiv, .buttonTwo {
    display: flex;
    background-color: #3882F6;
}

.actionDiv {
    border-radius: 5px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    color: white;
    gap: 100px;
}

.action {
    font-weight: bold;
    font-size: 20px;
}

.buttonBoxTwo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fourthText {
    display: flex;
    flex-direction: column;
}

.buttonTwo {
    border-color: white;
    border-radius: 6px;
    padding: 10px;
}

