body {
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    min-height: 100vh;
    margin: 0;
}

img {
    max-width: 120px;
    border: 3px solid;
    border-color: #3882F6;
    border-radius: 5px;
}

.firstSection {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    flex-grow: 3;
    color: #f9faf8;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 500px;

}

.title {
    font-size: 25px;
    font-weight: bolder;
    color: #f9faf8;
}

.text {
    font-size: 14px;
    color: #E5E7EB;
}

.button1 {
    align-self: start;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: #3882F6;
    border: none;
}

.header {
    display: flex;
    gap: 40px;
    margin: 20px;
}

.logo {
    margin-right: auto;
}

.secondSection {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
}

.titleTwo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    color: black;
    padding: 20px;
}

.images {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    margin: 10px;
    gap: 50px;
}

.caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 14px;
}

.container {
    max-width: 300px;
    font-size: 15px;
    max-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.thirdSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    flex-grow: 2;
    color: black;
    font-style: italic;
    font-size:  25px;
    gap: 20px;
}

.quoteAuthor {
    color: black;
    font-size: 18px;
    align-self: center;
}

.quoteContainer {
    display: flex;
    flex-direction: column;
    margin: 30px;
}


.fourthSection {
    display: flex;
    flex-grow: 2;
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color:white;
    flex-grow: 1;
    margin-top: auto;
    padding: 10px;
}

.actionDiv, .buttonTwo {
    display: flex;
    background-color: #3882F6;
}

.actionDiv {
    border-radius: 5px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    color: white;
    gap: 100px;
    margin: 30px;
}

.action {
    font-weight: bold;
    font-size: 20px;
}

.buttonBoxTwo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fourthText {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.buttonTwo {
    border: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 6px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

